<header class="app-header">
  <a class="app-header__logo" routerLink="/">
    <img class="app-header__logo-icon" src="openknowledge_icon.svg" alt="" />
    <span class="app-header__logo-text">OpenKnowledge</span>
  </a>
  <nav class="app-header__nav" aria-label="Main navigation">
    <a class="app-header__nav-link"
       [class.app-header__nav-link--active]="activeRoute() === 'results'"
       routerLink="/results">Research</a>
    <a class="app-header__nav-link"
       [class.app-header__nav-link--active]="activeRoute() === 'relevancy'"
       routerLink="/relevancy">OK-score</a>
    <a class="app-header__nav-link"
       [class.app-header__nav-link--active]="activeRoute() === 'graph'"
       routerLink="/graph">Graph</a>
    <a class="app-header__nav-link"
       [class.app-header__nav-link--active]="activeRoute() === 'library'"
       routerLink="/library">Library</a>
    <a class="app-header__nav-link"
       [class.app-header__nav-link--active]="activeRoute() === 'citgraph'"
       routerLink="/citgraph">Cit-Graph</a>
  </nav>
  <div class="app-header__spacer"></div>
  <ng-content></ng-content>
</header>
